{% extends "RayoMaqueen/header.html" %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #0b0a0a;
        margin: 0;
        padding: 0;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Ajustar la altura según sea necesario */
        
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    .login-form {
        background-color: #007BFF;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
    }

    .login-form h2 {
        color: #007BFF;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .login-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #007BFF;
        border-radius: 5px;
    }

    .login-form button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .login-form button:hover {
        background-color: #0056b3;
    }
</style>

<div class="login-container">
    <div class="login-form">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}
