{% extends "RayoMaqueen/header.html" %}
{% load static %}

{% block title %}Mantención{% endblock %}


{% block content %}
      <section class="container mt-5">    
          <div class="row">
                <div class="col-5">
                    <h1 class="fw-bold text-white fuente-titulo">3. Cambio de Aceite y Filtro</h1>
                    <p>Mecánico: María García</p>
                    <p>Fecha: 2 de abril de 2024</p>
                    <p>Detalles: Mantenimiento completo del sistema de lubricación, revisión de niveles y condiciones.</p>
                    <p>Materiales Utilizados: Aceite sintético de calidad, filtro de aceite OEM.</p>

                </div>
                <div class="col-5">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'img/mantencion3.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'img/mantencion2.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'img/mantencion1.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                </div>
            </div>
          </section>
          <br>
          <br>
            
            <a href="{% url 'Principal' %}" class="btn text-white">Atras</a>

{% endblock %}

